.modal {
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
        visibility: visible;
    }
    to {
        bottom: 0;
        opacity: 0;
        visibility: hidden;
    }
}

#snack.show {
    visibility: visible;
    animation: fadein 0.5s;
}

#snack.hidden {
    animation: fadeout 0.5s;
}

#snack {
    visibility: hidden;
    min-width: 250px;
    color: #000;
    text-align: center;
    border-radius: 5px;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    bottom: 30px;
    padding: 10px;
}

#snack * {
    margin-top: 0;
    margin-bottom: 0;
}

.color-info {
    background-color: rgb(22, 255, 232);
}

.color-warn {
    background-color: #F8D7DA;
}